@for $i from 1 through 20 {
  $value: $i * 5;
  .w-#{$value} {
    width: percentage($value/100);
  }
}

.h1 {
  font-size: 3.5em;
  font-family: var(--primary-font);
}

.h2 {
  font-size: 3em;
  font-family: var(--primary-font);
}

.h3 {
  font-size: 2.5em;
  font-family: var(--primary-font);
}

.h4 {
  font-size: 2em;
  font-family: var(--primary-font);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.hidden-sm.hidden-sm {
  @media screen and (max-width: $max-screen-sm) {
    display: none;
  }
}

.hidden-md.hidden-md {
  @media screen and (min-width: $max-screen-sm) {
    display: none;
  }
}

.dark {
  color: var(--dark);
}

.dark-lighter{
  color: var(--dark-lighter);
}

.white {
  color: var(--white);
}

.yellow {
  color: var(--yellow);
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 200;
}

.opacity-50 {
  opacity: .5;
}

.uppercase {
  text-transform: uppercase;
}

.title{
  position: relative;
  width: fit-content;
}

.title-icon {
  position: absolute;
  top: 0;
  right: -.2em;
  z-index: -1;
  transform: translateX(50%) !important;
}