.h1 {
  font-size: 3.5em;
  font-family: var(--primary-font);
}

.h2 {
  font-size: 3em;
  font-family: var(--primary-font);
}

.h3 {
  font-size: 2.5em;
  font-family: var(--primary-font);
}

.h4 {
  font-size: 2em;
  font-family: var(--primary-font);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.hidden-sm.hidden-sm {
  @media screen and (max-width: $max-screen-sm) {
    display: none;
  }
}

.hidden-md.hidden-md {
  @media screen and (min-width: $max-screen-sm) {
    display: none;
  }
}

.dark {
  color: var(--dark);
}

.dark-lighter{
  color: var(--dark-lighter);
}

.white {
  color: var(--white);
}

.yellow {
  color: var(--yellow);
}

.bold {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--yellow);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}