$max-screen-sm: 576px;

@import 'reset.css';
@import 'fonts.scss';
@import 'utilities/index';
@import 'sections/index';
@import "vendor/index";

:root {
  --dark: #303841;
  --dark-lighter: #3A4750;
  --white: #EEEEEE;
  --yellow: #F6C90E;
  --font-size: 16px;
  --primary-font: Raleway;
  --secondary-font: Montserrat;
}

@media screen and (max-width: $max-screen-sm) {
  :root {
    --font-size: 12px;
  }
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-size: var(--font-size);
  font-family: var(--secondary-font);
  padding-left: 20%;
  padding-right: 20%;
  @media screen and (max-width: 576px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

body i {
  font-family:'FontAwesome'!important;
}

p {
  line-height: 1.8;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color: inherit;
  text-decoration:none; 
}

a {
  text-decoration: none;
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--yellow);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}