@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Black.ttf');
  font-weight: 900; 
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
  font-weight: 700; 
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Light.ttf');
  font-weight: 200; 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}